/* Black */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Black.ttf');
    font-weight: 900;
}
/* Black Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}

/* --------------------- */

/* ExtraBold */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraBold.ttf');
    font-weight: 700;
}
/* ExtraBold Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraBoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* --------------------- */

/* Bold */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Bold.ttf');
    font-weight: 700;
}
/* Bold Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* --------------------- */

/* SemiBold */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-SemiBold.ttf');
    font-weight: 600;
}
/* SemiBold Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

/* --------------------- */

/* Medium */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Medium.ttf');
    font-weight: 500;
}
/* Medium Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/* --------------------- */

/* Regular */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf');
    font-weight: 400;
}
/* Regular Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* --------------------- */

/* Light */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Light.ttf');
    font-weight: 300;
}
/* Light Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/* --------------------- */

/* ExtraLight */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraLight.ttf');
    font-weight: 200;
}
/* ExtraLight Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

/* --------------------- */

/* Thin */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Thin.ttf');
    font-weight: 100;
}
/* Thin Italic */
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}